.header {
  background-color: black;
  height: 50px;
  width: 100%;
}

.header ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  height: 100%;
  list-style-type: none;
}

.header ul li {
  margin-right: 20px;
}

.header ul li a {
  color: white;
  font-size: 19px;
}
